@import "./assets/fonts/font.css";
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  background-color: #000;
  color: #fff;
  font-family: "main";
}
.swiper-button-next:after {
  content: url(./assets/images/swiper-next.png);
}
.swiper-button-prev:after {
  content: url(./assets/images/swiper-prev.png);
}
.main-swiper .swiper-button-next {
  top: 94%;
  right: 28%;
  z-index: 110;
}
.main-swiper .swiper-button-prev {
  top: 94%;
  left: 28%;
  z-index: 110;
}
.render-swiper .swiper-button-next {
  top: 38%;
  right: 0;
  z-index: 111;
}
.render-swiper .swiper-button-prev {
  top: 38%;
  left: 0;
  z-index: 111;
}

.main-swiper .swiper-pagination {
  z-index: 11;
  background-color: transparent;
}

@keyframes curtainReveal {
  0% {
    opacity: 0.3;
    clip-path: inset(0 100% 0 0);
  }
  100% {
    opacity: 1;
    clip-path: inset(0 0 0 0); /* Fully reveal image */
  }
}

/* Default style for pagination bullets */
.main-swiper .swiper-pagination .swiper-pagination-bullet {
  width: 108px;
  height: 64px;
  border-radius: 12px;
  opacity: 0.3;
  /* clip-path: inset(0 100% 0 0); Initially hidden with curtain effect */
  transition: opacity 3s ease-in-out;
}

/* Active bullet will trigger the animation */
.main-swiper .swiper-pagination .swiper-pagination-bullet-active {
  animation: curtainReveal 3s forwards linear; /* Curtain reveal effect over autoplay duration */
  opacity: 1;
}

/* Specific pagination bullet images */
.main-swiper .swiper-pagination .swiper-pagination-bullet:nth-child(1) {
  content: url(./assets/images/po-2.png);
}

.main-swiper .swiper-pagination .swiper-pagination-bullet:nth-child(2) {
  content: url("https://image.tmdb.org/t/p/w500//wWba3TaojhK7NdycRhoQpsG0FaH.jpg");
}

.main-swiper .swiper-pagination .swiper-pagination-bullet:nth-child(3) {
  content: url("https://image.tmdb.org/t/p/w500//kKgQzkUCnQmeTPkyIwHly2t6ZFI.jpg");
}

.main-swiper .swiper-pagination .swiper-pagination-bullet:nth-child(4) {
  content: url("https://image.tmdb.org/t/p/w500//p6AbOJvMQhBmffd0PIv0u8ghWeY.jpg");
}

a.active {
  color: red;
}
a.active svg path {
  fill: red;
}
a.active svg rect {
  fill: red;
  stroke: red;
}
.PhoneInput input {
  width: 100%;
  height: 100%;
  outline: none;
  color: #fff;
  background-color: #111111;
  font-size: 18px;
  font-weight: 500;
}
.PhoneInput select {
  border-radius: 50%;
  background-color: #fff;
}
